<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.SuiteListener"/>
    </listeners>
    <test verbose="1" name="User Interface Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.ui.UserInterfaceTest"/>
        </classes>
    </test>
    <test verbose="1" name="Length Converter Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.length.LengthConverterTest"/>
        </classes>
    </test>
    <test verbose="1" name="Mass Converter Test">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="testCases.mass.MassConverterTest"/>
        </classes>
    </test>
</suite>